<header class="header">
    <div class="header-logo">
        <a href="/">Blogs</a>
    </div>
    <nav class="header-nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/add-blog">Add-Blog</a></li>
        </ul>
    </nav>
</header>